langchain
openai
chromadb
stix2
taxii2-client
fastapi
uvicorn
pandas
numpy
python-dotenv
presidio-analyzer
presidio-anonymizer
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl
groq
python-dotenv
psutil
locust
